@charset "UTF-8";
@font-face {
    font-family: American;
    src: url(fonts/American\ Captain.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(to top, #2b2bff, #6363ff);
    padding: 30px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px black;
}

header > h1 {
    font-family: American;
    letter-spacing: 1.5px;
    padding-bottom: 10px;
    font-size: 3em;

}

header > p {
    text-shadow: 1px 1px 3px #00004b;
}

nav {
    text-align: center;
    background-color: #2b2bff;
    margin-bottom: 20px;
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    margin: 10px 20px;
    background-color: #ffffff;
}

article > h1 {
    background-color: #aeaeff;
    font-family: American;
    font-size: 32px;
    text-shadow: 2px 2px 6px #000070;
    color: black;
    text-align: center;
    padding: 5px 3px;
}

article > h2 {
    color: blue;
    font-size: 2em;
    font-family: American;
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 3px black;
}

article > p {
    text-indent: 50px;
    background-color: lightblue;
    padding: 10px;
    border-radius: 15px;
    color: #00004b;
    margin-bottom: 10px;
}

article strong {
    color: black;
    font-weight: bolder;
    text-shadow: 1px 1px 1px darkblue;
}

footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}